<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${question.title} + ' - DD 村'"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/demo.css"/>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/demo.js" type="application/javascript"></script>
    <script src="/js/moment.js" type="application/javascript"></script>
</head>
<body>

<div th:insert="nav :: nav"></div>

<div class="container-fluid main profile">
    <div class="row" style="margin: 15px 0;">
        <!-- 左栏 -->
        <div class="col-lg-9 col-md-12 col-sm-12 question-col">
            <!-- 正文 -->
            <h3><span th:text="${question.title}"></span></h3>
            <span class="text-desc">
                阅读数: <span th:text="${question.viewCount}"></span> &nbsp;|&nbsp;
                作者: <span th:text="${question.user.name}"></span> &nbsp;|&nbsp;
                创建时间: <span th:text="${#dates.format(question.gmtCreate, 'yyyy-MM-dd HH:mm')}"></span> &nbsp;|&nbsp;
                修改时间: <span th:text="${#dates.format(question.gmtModified, 'yyyy-MM-dd HH:mm')}"></span>
            </span>
            <hr>
            <span th:utext="${question.description}"></span><br>
            <hr>
            <span class="label label-info" style="margin-right: 5px;" th:each="tag:${question.tag.split(',')}"><span th:text="${tag.trim()}"></span></span>
            <span class="a-grey" style="float: right;">
                <a th:onclick="'javascript:incLike('+${question.id}+', 3)'" style="margin-right: 20px;">
                    <span th:class="${question.liked} ? 'active' : ''">
                        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                    <span th:text="${question.likeCount}"></span>
                    </span>
                </a>
                <a th:if="${session.user != null && session.user.id == question.creator}"
                   th:href="@{'/publish/' + ${question.id}}" style="margin-right: 20px;">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> 编辑
                </a>
                <a th:if="${session.user != null && session.user.id == question.creator}"
                   th:href="@{'/delete/question/' + ${question.id}}">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> 删除
                </a>
            </span>

            <!-- 回复内容 -->
            <hr>
            <h3 style="margin-bottom: 25px;">
                <span th:text="${question.commentCount}"></span> 个评论
            </h3>
            <div class="media" th:each="comment : ${comments}" th:id="'comment_'+${comment.id}" style="margin: 20px 0;">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object media-avatar img-rounded" th:src="${comment.user.avatarUrl}">
                    </a>
                </div>
                <div class="media-body">
                    <span class="media-heading text-name" th:text="${comment.user.name}"></span>
                    <br>
                    <span th:text="${comment.content}"></span><br>
                    <div class="text-name a-grey" style="margin-top: 5px; text-decoration: none;">
                        <!-- 点赞 -->
                        <a>
                            <span th:class="${comment.liked} ? 'active' : ''" th:onclick="'javascript:incLike('+${comment.id}+', 4)'">
                                <span class="glyphicon glyphicon-thumbs-up"></span>
                                <span style="font-size: 12px;" th:text="${comment.likeCount}" th:id="'like_comment_' + ${comment.id}"></span>
                            </span>
                        </a>
                        <!-- 评论 -->
                        <a style="margin-left: 10px;">
                            <span th:onclick="'javascript:getSubComment(this, '+${comment.id}+')'">
                                <span class="glyphicon glyphicon-comment" style="margin-left: 5px"></span>
                                <span style="font-size: 12px;" th:text="${comment.commentCount}"></span>
                            </span>
                        </a>
                        <span style="margin-left: 20px; font-size: 12px;"
                              th:text="${#dates.format(comment.gmtCreate, 'yyyy-MM-dd HH:mm')}"></span>
                    </div>
                    <!-- 套娃评论 -->
                    <div class="collapse" th:id="'collapse_' + ${comment.id}" style="margin-top: 10px;">
                        <div th:id="'sub_container_' + ${comment.id}"></div>
                        <div style="margin-top: 10px;" th:if="${session.user != null}">
                            <input th:id="'comment_input_'+${comment.id}" type="text" class="form-control"
                                   placeholder="输入回复">
                            <button type="button" class="btn btn-success"
                                    style="float: right; margin: 10px 0;"
                                    th:onclick="'postSubComment('+${comment.id}+')'">回复
                            </button>
                        </div>
                        <div th:if="${session.user == null}">
                            <a href="/login">登录</a>后发表回复
                        </div>
                    </div>
                </div>
            </div>

            <!-- 评论框 -->
            <hr>
            <div th:if="${session.user != null}">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object media-avatar img-rounded" th:src="${session.user.avatarUrl}">
                        </a>
                    </div>
                    <div class="media-body" style="padding-top: 10px;">
                        <span class="media-heading" th:text="${session.user.name}"></span>
                    </div>
                </div>
                <input type="hidden" id="question_id" th:value="${question.id}">
                <textarea id="comment_content" class="form-control" placeholder="输入评论" style="margin: 10px 0;" rows="5"></textarea>
                <button type="button" class="btn btn-success"
                        style="float: right; margin-bottom: 10px;"
                        onclick="postComment()">评论
                </button>
            </div>
            <div th:if="${session.user == null}" style="text-align: center; margin-bottom: 10px;">
                <a href="/login">登录</a>后发表评论
            </div>


        </div>

        <!-- 右栏 -->
        <div class="col-lg-3 col-md-12 col-sm-12">
            <h4>发起人</h4>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object media-avatar img-rounded" th:src="${question.user.avatarUrl}">
                    </a>
                </div>
                <div class="media-body">
                    <span class="media-heading" th:text="${question.user.name}"></span>
                </div>
            </div>
            <hr>
            <div style="margin-bottom: 12px;"><h4>相关问题</h4></div>
            <div th:each="relatedQuestion:${relatedQuestions}" style="margin-bottom: 8px; font-size: 13px;">
                <a th:text="${relatedQuestion.title}" th:href="'/question/'+${relatedQuestion.id}">
                </a>
            </div>
        </div>
    </div>
</div>

<div th:insert="footer :: footer"></div>
</body>
</html>